#Directories
.vs/
.idea/
.vscode/
*.xcworkspace/
*.xcodeproj/
bin/
bin-int/
**/x64/
**/Debug/
**/Release/

#Files 
*.user
*.suo
*.VC.db
*.opendb
*.pdb
*.ilk
*.sln
*.vcxproj
*.vcxproj.filters
.DS_Store
